In [2]:
import os
import requests
from dotenv import load_dotenv
import pandas as pd

In [11]:
flights = pd.read_csv("flights_csv.csv").drop(columns="Unnamed: 0")
flights.head(20)

,airport_from,airport_to,city_from,city_to,distance,price,nights,seats,airlines,departure
0,BCN,PMI,Barcelona,"Palma, Majorca",202.18,31,9,3,VY,2024-05-07
1,BCN,PMI,Barcelona,"Palma, Majorca",202.18,31,10,1,VY,2024-05-06
2,BCN,PMI,Barcelona,"Palma, Majorca",202.18,31,5,3,VY,2024-05-11
3,BCN,PMI,Barcelona,"Palma, Majorca",202.18,66,3,9,UX,2024-05-06
4,BCN,PMI,Barcelona,"Palma, Majorca",202.18,66,3,4,UX,2024-05-11
5,BCN,PMI,Barcelona,"Palma, Majorca",202.18,66,9,2,UX,2024-05-06
6,BCN,CDG,Barcelona,Paris,859.37,187,9,5,AF,2024-05-05
7,BCN,CDG,Barcelona,Paris,859.37,187,5,7,AF,2024-05-05
8,BCN,CDG,Barcelona,Paris,859.37,187,6,6,AF,2024-05-05
9,BCN,LHR,Barcelona,London,1149.76,207,4,9,IB,2024-05-09
10,BCN,VIE,Barcelona,Vienna,1371.79,227,6,9,OS,2024-05-07
11,BCN,VIE,Barcelona,Vienna,1371.79,227,3,1,OS,2024-05-10
12,BCN,VIE,Barcelona,Vienna,1371.79,227,5,9,OS,2024-05-08
13,BCN,VIE,Barcelona,Vienna,1371.79,231,8,7,OS,2024-05-05
14,BCN,MUC,Barcelona,Munich,1095.88,291,5,9,LH,2024-05-10
15,GOT,LGW,Gothenburg,London,1082.70,50,3,9,W6 & D8,2024-05-12
16,GOT,LGW,Gothenburg,London,1082.70,51,10,9,D8 & W6,2024-05-05
17,GOT,LGW,Gothenburg,London,1082.70,51,3,9,D8 & W6,2024-05-05
18,GOT,CPH,Gothenburg,Copenhagen,228.50,218,4,9,SK,2024-05-12
19,GOT,CPH,Gothenburg,Copenhagen,228.50,218,7,9,SK,2024-05-11

In [9]:
# The below is not a great idea since it disconnets the row values from each other
cheapest_per_combo = flights.groupby(["airport_from", "airport_to"]).agg("min")
cheapest_per_combo.head(1)

,,Unnamed: 0,city_from,city_to,distance,price,nights,seats,airlines,departure
airport_from,airport_to,,,,,,,,,
BCN,CDG,6,Barcelona,Paris,859.37,187,5,5,AF,2024-05-05

In [18]:
cheapest_combos = (
    flights.sort_values(by="price", ascending=True)
    .groupby(["city_from", "city_to"])
    .agg("first")
)
cheapest_combos

                          airport_from airport_to  distance  price  nights  \
city_from  city_to
Barcelona  London                  BCN        LHR   1149.76    207       4
           Munich                  BCN        MUC   1095.88    291       5
           Palma, Majorca          BCN        PMI    202.18     31       9
           Paris                   BCN        CDG    859.37    187       9
           Vienna                  BCN        VIE   1371.79    227       5
Gothenburg Copenhagen              GOT        CPH    228.50    218       7
           London                  GOT        LGW   1082.70     50       3
           Munich                  GOT        MUC   1036.78    223       8
           Palma, Majorca          GOT        PMI   2130.07    674       4
           Paris                   GOT        CDG   1157.83    314       4
           Vienna                  GOT        VIE   1101.32    306       9
Helsinki   London                  HEL        LGW   1860.32    135       3
           Munich                  HEL        MUC   1576.30    325       8
           Málaga                  HEL        AGP   3356.39    262       5
           Palma, Majorca          HEL        PMI   2777.47    335       5
           Paris                   HEL        CDG   1898.05    158       7
           Vienna                  HEL        VIE   1461.67    407       4

                           seats airlines   departure
city_from  city_to
Barcelona  London              9       IB  2024-05-09
           Munich              9       LH  2024-05-10
           Palma, Majorca      3       VY  2024-05-07
           Paris               5       AF  2024-05-05
           Vienna              9       OS  2024-05-08
Gothenburg Copenhagen          9       SK  2024-05-11
           London              9  W6 & D8  2024-05-12
           Munich              5       LH  2024-05-08
           Palma, Majorca      9       SK  2024-05-07
           Paris               4       AF  2024-05-05
           Vienna              9       OS  2024-05-10
Helsinki   London              6       D8  2024-05-10
           Munich              9       LH  2024-05-10
           Málaga              2       D8  2024-05-12
           Palma, Majorca      4       D8  2024-05-09
           Paris               1  D8 & AY  2024-05-06
           Vienna              7       AY  2024-05-10

In [24]:
group_destinations = cheapest_combos.groupby(["city_to"]).agg({"price": "sum"}).sort_values("price").reset_index()
group_destinations

          city_to  price
0      Copenhagen    218
1          Málaga    262
2          London    392
3           Paris    659
4          Munich    839
5          Vienna    940
6  Palma, Majorca   1040

In [28]:
cheapest_group_destination = group_destinations.iloc[0]
print(f'The cheapetst destination for you and your friends to meet at is {cheapest_group_destination["city_to"]}, '
      f'at €{cheapest_group_destination["price"]} in total or €{round(cheapest_group_destination["price"]/3),2} per person.')

SyntaxError: f-string: unmatched '[' (1175831145.py, line 2)

In [6]:
load_dotenv()
kiwi_user = os.environ.get("KIWI_USER")
kiwi_key = os.environ.get("KIWI_KEY")
base_url = "https://api.tequila.kiwi.com"
headers = {"Content-Type": "application/json", "apikey": kiwi_key}

In [97]:
params = {
    "term": "",
    "limit": 500,
    "sort": "name",
    "active_only": True,
    "source_popularity": "bookings",
}
origins = ["gothenburg_se", "barcelona_es", "paris_fr", "berlin_de"]
for i, city in enumerate(origins):
    params["term"] = city
    res = requests.get(
        f"{base_url}/locations/topdestinations", params=params, headers=headers
    )
    if res.status_code == 200:
        data = res.json()
        print(f"{data['results_retrieved']} results retrieved for {city}")
        retrieved_locations = {
            location["id"]
            for location in data["locations"]
        }
        retrieved_locations.add(city)
        if i == 0:
            all_results = retrieved_locations
        else:
            all_results = all_results.intersection(retrieved_locations)
    else:
        print(f"Something went wrong for {city}! Status: {res.status_code}")

104 results retrieved for gothenburg_se
250 results retrieved for barcelona_es
250 results retrieved for paris_fr
250 results retrieved for berlin_de

In [98]:
print("Total number of common destinations:", len(all_results))
print(all_results)

Total number of common destinations: 67
{'las-palmas_es', 'brussels_be', 'naples_it', 'amman_jo', 'tirana_al', 'ibiza_es', 'larnaca_cy', 'antalya_tr', 'cairo_eg', 'riyadh_sa', 'catania_it', 'riga_lv', 'santorini_gr', 'amsterdam_nl', 'copenhagen_dk', 'rome_it', 'bangkok_th', 'warsaw_pl', 'olbia_it', 'bergen_no', 'pristina_xk', 'rhodes_gr', 'alicante_es', 'dublin_ie', 'palma_es', 'lisbon_pt', 'sharm-el-sheikh_eg', 'tangier_ma', 'prague_cz', 'dusseldorf_de', 'helsinki_fi', 'malta_mt', 'malaga_es', 'yerevan_am', 'dubrovnik_hr', 'funchal_pt', 'gdansk_pl', 'hamburg_de', 'madrid_es', 'geneva_ch', 'bucharest_ro', 'miami_fl_us', 'jeddah_sa', 'paris_fr', 'skopje_mk', 'istanbul_tr', 'nantes_fr', 'bilbao_es', 'krakow_pl', 'stockholm_se', 'berlin_de', 'tenerife_es', 'munich_de', 'athens_gr', 'london_gb', 'los-angeles_ca_us', 'vilnius_lt', 'belgrade_rs', 'bristol_gb', 'milan_it', 'thessaloniki_gr', 'strasbourg_fr', 'venice_it', 'frankfurt_de', 'tallinn_ee', 'suceava_ro', 'barcelona_es'}

In [96]:
endpoint = f"{base_url}/locations"
query = f"/query?term=London"
response = requests.get(url=endpoint + query, headers=headers)
response.raise_for_status()
city_data = response.json()
print(response.status_code)
print(city_data)

200

In [127]:
import datetime as dt

endpoint = f"{base_url}/v2/search?query="
max_price = 1000
today = dt.datetime.today()
months_from_today = today + dt.timedelta(days=30)
#from_date = self.today.strftime("%d/%m/%Y")
#to_date = self.months_from_today.strftime("%d/%m/%Y")
#stopovers = int(city_data["stopovers"])
params = {
    "fly_from": "paris_fr",
    "fly_to": "berlin_de",
    "date_from": (today + dt.timedelta(days=7)).strftime("%d/%m/%Y"),
    "date_to": (today + dt.timedelta(days=14)).strftime("%d/%m/%Y"),
    "price_to": max_price,
    "nights_in_dst_from": 3,
    "nights_in_dst_to": 10,
    "one_for_city": True,
    "one_per_date": True,
    "curr": "EUR",
    "max_stopovers": 0,
    "limit": 500
}    
response = requests.get(url=endpoint, params=params, headers=headers)
response.raise_for_status()
data = response.json()["data"]

In [123]:
len(data)

44

In [128]:
print(response.json())

{'search_id': '38da0866-6a43-10a5-1b7a-f03d114df96c', 'currency': 'EUR', 'fx_rate': 1, 'data': [{'id': '0a7c00424d8c000095133bb0_0|00420a7c4d92000003a9a712_0', 'flyFrom': 'ORY', 'flyTo': 'BER', 'cityFrom': 'Paris', 'cityCodeFrom': 'PAR', 'cityTo': 'Berlin', 'cityCodeTo': 'BER', 'countryFrom': {'code': 'FR', 'name': 'France'}, 'countryTo': {'code': 'DE', 'name': 'Germany'}, 'local_departure': '2024-05-09T21:20:00.000Z', 'utc_departure': '2024-05-09T19:20:00.000Z', 'local_arrival': '2024-05-09T23:10:00.000Z', 'utc_arrival': '2024-05-09T21:10:00.000Z', 'nightsInDest': 6, 'quality': 190.3332, 'distance': 883.98, 'duration': {'departure': 6600, 'return': 6600, 'total': 13200}, 'price': 137, 'conversion': {'EUR': 137}, 'fare': {'adults': 137, 'children': 137, 'infants': 137}, 'fare_locks': {'EUR': [{'default': False, 'duration': 'P7D', 'itinerary_price_limit': 337, 'itinerary_price_remaining': 137, 'fare_lock_kind': 'fee', 'price': 34.25, 'rule_instance_id': 26750, 'version': 'v1'}, {'default': False, 'duration': 'P1D', 'itinerary_price_limit': 337, 'itinerary_price_remaining': 137, 'fare_lock_kind': 'fee', 'price': 6.85, 'rule_instance_id': 26749, 'version': 'v1'}, {'default': True, 'duration': 'P3D', 'itinerary_price_limit': 337, 'itinerary_price_remaining': 137, 'fare_lock_kind': 'fee', 'price': 13.7, 'rule_instance_id': 26748, 'version': 'v1'}]}, 'bags_price': {'1': 114}, 'baglimit': {'hold_dimensions_sum': 160, 'hold_height': 60, 'hold_length': 70, 'hold_weight': 15, 'hold_width': 30, 'personal_item_height': 30, 'personal_item_length': 40, 'personal_item_weight': 10, 'personal_item_width': 20}, 'availability': {'seats': None}, 'airlines': ['U2', 'TO'], 'route': [{'id': '0a7c00424d8c000095133bb0_0', 'combination_id': '0a7c00424d8c000095133bb0', 'flyFrom': 'ORY', 'flyTo': 'BER', 'cityFrom': 'Paris', 'cityCodeFrom': 'PAR', 'cityTo': 'Berlin', 'cityCodeTo': 'BER', 'local_departure': '2024-05-09T21:20:00.000Z', 'utc_departure': '2024-05-09T19:20:00.000Z', 'local_arrival': '2024-05-09T23:10:00.000Z', 'utc_arrival': '2024-05-09T21:10:00.000Z', 'airline': 'TO', 'flight_no': 3412, 'operating_carrier': '', 'operating_flight_no': '', 'fare_basis': '', 'fare_category': 'M', 'fare_classes': '', 'return': 0, 'bags_recheck_required': False, 'vi_connection': False, 'guarantee': False, 'equipment': None, 'vehicle_type': 'aircraft'}, {'id': '00420a7c4d92000003a9a712_0', 'combination_id': '00420a7c4d92000003a9a712', 'flyFrom': 'BER', 'flyTo': 'ORY', 'cityFrom': 'Berlin', 'cityCodeFrom': 'BER', 'cityTo': 'Paris', 'cityCodeTo': 'PAR', 'local_departure': '2024-05-15T09:25:00.000Z', 'utc_departure': '2024-05-15T07:25:00.000Z', 'local_arrival': '2024-05-15T11:15:00.000Z', 'utc_arrival': '2024-05-15T09:15:00.000Z', 'airline': 'U2', 'flight_no': 4898, 'operating_carrier': 'EC', 'operating_flight_no': '', 'fare_basis': '', 'fare_category': 'M', 'fare_classes': '', 'return': 1, 'bags_recheck_required': False, 'vi_connection': False, 'guarantee': False, 'equipment': None, 'vehicle_type': 'aircraft'}], 'booking_token': 'GklkWU_-8XxAVUDV5FVQ7dDTw0-Av6scxcX4RJI2C-G9gAzKJ7bHOV_4AFoYcuqTAA7qBu8hE1nKWm1BD7OFM5kStVHkBwXWbsJrm4e19icYA300-co-KSPsI34f5gWjZIAqhOV3EBJU18XxvsT2cIwO7RJGEGzKrE2YzgfWFH2exTG6f0L2y5oA2hHPvg-AW-OM5JsWK31BQHUrzk0ykNNgARZ5lOI6IzyWl2kOgBgUpL_nYekpNkcNV7qFQcwNtq1nZElLF4_C7Zyu1m11_K6z4b7gMdjocDcQfKyR-N5hJP5spY585G-MBjPAucv-L7jeakStz0-FxqzLaZT2YnvJp7DX2hQEXNLsUTF7JVTY3-gfuqw4PiKFI6KHR-hRtHeC4kjmnkkkQ5JkyRga6zZSkmleurmoebeeQpnsZVwTY8C8yOfJAW7g04-W7EJ_4PLX4keMndTIhF7pCgFkLuny4vXqaZRq8Qa6JGldAFYT7ffvUQpZRqZG-nj0yBjzG4EV5pBSzsnCWY7PckCZezx6Cr0zGgxblexKyKreofTysoKMW_AgcUxna0EWyopm0Ey-3I1Km78nOIKVebbar07FdEmIn89jsIN00YigogSSDzfx1YB_uJmq6tDW-Yta4m6vyYfChsjbqZk6A3YZ36eidPezNucXD5OQQ7zsE60Pe2NQp9WCmsks30h9-PbwDtp0KM5-wOOaoneIrNBWdO0OAEGSfUj3PGb7QC0lNxfnWCwmMiobpdotberSZhQz9lMoXIwjyUaEf7rjoFQXw4vvb6OcQxXNgBoVAKykY1s4lWln07WbLLHMvR7B226pBNuBlnLz32zNE2OReVaU0dfLmmUox1iXLXuJXYfBntYJ1Vmlp_wHnBZQSRj_3IMa9hGsSrWd0UDMg3i1u2WY45Q==', 'deep_link': 'https://www.kiwi.com/deep?affilid=branchedelacflightsearch&currency=EUR&flightsId=0a7c00424d8c000095133bb0_0%7C00420a7c4d92000003a9a712_0&from=ORY&lang=en&passengers=1&to=BER&booking_token=GklkWU_-8XxAVUDV5FVQ7dDTw0-Av6scxcX4RJI2C-G9gAzKJ7bHOV_4AFoYcuqTAA7qBu8hE1nKWm1BD7OFM5kStVHkBwXWbsJrm4e19icYA300-co-KSPsI34f5gWjZIAqhOV3EBJU18XxvsT2cIwO7RJGEGzKrE2YzgfWFH2exTG6f0L2y5oA2hHPvg-AW-OM5JsWK31BQHUrzk0ykNNgARZ5lOI6IzyWl2kOgBgUpL_nYekpNkcNV7qFQcwNtq1nZElLF4_C7Zyu1m11_K6z4b7gMdjocDcQfKyR-N5hJP5spY585G-MBjPAucv-L7jeakStz0-FxqzLaZT2YnvJp7DX2hQEXNLsUTF7JVTY3-gfuqw4PiKFI6KHR-hRtHeC4kjmnkkkQ5JkyRga6zZSkmleurmoebeeQpnsZVwTY8C8yOfJAW7g04-W7EJ_4PLX4keMndTIhF7pCgFkLuny4vXqaZRq8Qa6JGldAFYT7ffvUQpZRqZG-nj0yBjzG4EV5pBSzsnCWY7PckCZezx6Cr0zGgxblexKyKreofTysoKMW_AgcUxna0EWyopm0Ey-3I1Km78nOIKVebbar07FdEmIn89jsIN00YigogSSDzfx1YB_uJmq6tDW-Yta4m6vyYfChsjbqZk6A3YZ36eidPezNucXD5OQQ7zsE60Pe2NQp9WCmsks30h9-PbwDtp0KM5-wOOaoneIrNBWdO0OAEGSfUj3PGb7QC0lNxfnWCwmMiobpdotberSZhQz9lMoXIwjyUaEf7rjoFQXw4vvb6OcQxXNgBoVAKykY1s4lWln07WbLLHMvR7B226pBNuBlnLz32zNE2OReVaU0dfLmmUox1iXLXuJXYfBntYJ1Vmlp_wHnBZQSRj_3IMa9hGsSrWd0UDMg3i1u2WY45Q==', 'facilitated_booking_available': True, 'pnr_count': 2, 'has_airport_change': False, 'technical_stops': 0, 'throw_away_ticketing': False, 'hidden_city_ticketing': False, 'virtual_interlining': False}, {'id': '25c300424d8c4d915f472e43_0|25c300424d8c4d915f472e43_1', 'flyFrom': 'CDG', 'flyTo': 'BER', 'cityFrom': 'Paris', 'cityCodeFrom': 'PAR', 'cityTo': 'Berlin', 'cityCodeTo': 'BER', 'countryFrom': {'code': 'FR', 'name': 'France'}, 'countryTo': {'code': 'DE', 'name': 'Germany'}, 'local_departure': '2024-05-09T21:00:00.000Z', 'utc_departure': '2024-05-09T19:00:00.000Z', 'local_arrival': '2024-05-09T22:45:00.000Z', 'utc_arrival': '2024-05-09T20:45:00.000Z', 'nightsInDest': 5, 'quality': 193.666535, 'distance': 857.09, 'duration': {'departure': 6300, 'return': 6600, 'total': 12900}, 'price': 141, 'conversion': {'EUR': 141}, 'fare': {'adults': 141, 'children': 141, 'infants': 141}, 'fare_locks': {'EUR': [{'default': False, 'duration': 'P7D', 'itinerary_price_limit': 341, 'itinerary_price_remaining': 141, 'fare_lock_kind': 'fee', 'price': 35.25, 'rule_instance_id': 26750, 'version': 'v1'}, {'default': False, 'duration': 'P1D', 'itinerary_price_limit': 341, 'itinerary_price_remaining': 141, 'fare_lock_kind': 'fee', 'price': 7.05, 'rule_instance_id': 26749, 'version': 'v1'}, {'default': True, 'duration': 'P3D', 'itinerary_price_limit': 341, 'itinerary_price_remaining': 141, 'fare_lock_kind': 'fee', 'price': 14.1, 'rule_instance_id': 26748, 'version': 'v1'}]}, 'bags_price': {'1': 105, '2': 255}, 'baglimit': {'hand_height': 35, 'hand_length': 55, 'hand_weight': 10, 'hand_width': 25, 'hold_dimensions_sum': 158, 'hold_height': 52, 'hold_length': 78, 'hold_weight': 23, 'hold_width': 28, 'personal_item_height': 30, 'personal_item_length': 40, 'personal_item_weight': 2, 'personal_item_width': 15}, 'availability': {'seats': None}, 'airlines': ['AF'], 'route': [{'id': '25c300424d8c4d915f472e43_0', 'combination_id': '25c300424d8c4d915f472e43', 'flyFrom': 'CDG', 'flyTo': 'BER', 'cityFrom': 'Paris', 'cityCodeFrom': 'PAR', 'cityTo': 'Berlin', 'cityCodeTo': 'BER', 'local_departure': '2024-05-09T21:00:00.000Z', 'utc_departure': '2024-05-09T19:00:00.000Z', 'local_arrival': '2024-05-09T22:45:00.000Z', 'utc_arrival': '2024-05-09T20:45:00.000Z', 'airline': 'AF', 'flight_no': 1134, 'operating_carrier': 'AF', 'operating_flight_no': '1134', 'fare_basis': 'XYS02NLA', 'fare_category': 'M', 'fare_classes': 'X', 'return': 0, 'bags_recheck_required': False, 'vi_connection': False, 'guarantee': False, 'equipment': None, 'vehicle_type': 'aircraft'}, {'id': '25c300424d8c4d915f472e43_1', 'combination_id': '25c300424d8c4d915f472e43', 'flyFrom': 'BER', 'flyTo': 'CDG', 'cityFrom': 'Berlin', 'cityCodeFrom': 'BER', 'cityTo': 'Paris', 'cityCodeTo': 'PAR', 'local_departure': '2024-05-14T19:05:00.000Z', 'utc_departure': '2024-05-14T17:05:00.000Z', 'local_arrival': '2024-05-14T20:55:00.000Z', 'utc_arrival': '2024-05-14T18:55:00.000Z', 'airline': 'AF', 'flight_no': 1535, 'operating_carrier': 'AF', 'operating_flight_no': '1535', 'fare_basis': 'GYS02NLA', 'fare_category': 'M', 'fare_classes': 'G', 'return': 1, 'bags_recheck_required': False, 'vi_connection': False, 'guarantee': False, 'equipment': None, 'vehicle_type': 'aircraft'}], 'booking_token': 'GqwfSxQdGNjIBnpgYGGFr_yQBeWnduXO06rl4ShwqDCLxDFxW6xBTKOlvFLjEZPVb_lVUmbsuotSsq3vzqfhq3Xxwojl-mce8jOZR60rt1oAf-F7Hv4FpwROBFT0uhNtsc560yBps-WeHJQ-S_85ohq2sX7f7Spt64S_VZsCmqruKscKm4xPvUY9-w9CbN0WwNYz_Ubq1RIEZ4Qi67hvWO1YLxKE0KNxcJ6QImaxu4Il29e8imcpRIAsmoQrF36UPBCBlUPtlaTuaTB2RFyzsUHp2lwqM8NmRlSbNtdgcvyjf2EAPfORN6Ncf7rWDs6fi9coK76c_B8czppW8PahS0XC9b7xa-7WBD7-Tg2uQ1Blcnn7lbkJ9rT2TVfsEIBXt8z8L2n8xPWQVqxhVBG5cwCB5Abz2Ya6KbsmG1SDbaQvMlX2Flz5KB8AqXYahvtmxNOwvI2fShLTXTJfHbwrRFR2nOPesCbI0R5dqV2xKM5_VAOwZwPpmeSaMWuxj3KDsgs5TJsd_xpvTFRyFurvO_LEUVteJ_BjKxjtTGiLd4CkaueqS2Y5pQ2QEqPWSOP3omvxiU1STPoQ6p9gF0pALfoMCS8kKqkMJXqVovOToehhUHPrdievDGPfYrFjOOtR3qVIf2uYwqOQR0axr7L3Y3WjX2kci4TPf2BBL6ERcEUwrBqrM5EEF19LiMt33l8VfI_Pp8RLi_PsQMDs-ac1V_F1PibcAnGyyr58ZXEP9ZgkMEQc2WdwZ-uWd8fO_mWCsoCP4AJq3idnhYwflTYQpz25KdfW2jf2GfrUzczgeYqq32VAy-IsRkXo_WX1X1WUl3yn9n9il3VD__EYz1MktizNK8ODYXFMQxdYrZUbfA8eIgl61OzattEBGXSafOAnj', 'deep_link': 'https://www.kiwi.com/deep?affilid=branchedelacflightsearch&currency=EUR&flightsId=25c300424d8c4d915f472e43_0%7C25c300424d8c4d915f472e43_1&from=CDG&lang=en&passengers=1&to=BER&booking_token=GqwfSxQdGNjIBnpgYGGFr_yQBeWnduXO06rl4ShwqDCLxDFxW6xBTKOlvFLjEZPVb_lVUmbsuotSsq3vzqfhq3Xxwojl-mce8jOZR60rt1oAf-F7Hv4FpwROBFT0uhNtsc560yBps-WeHJQ-S_85ohq2sX7f7Spt64S_VZsCmqruKscKm4xPvUY9-w9CbN0WwNYz_Ubq1RIEZ4Qi67hvWO1YLxKE0KNxcJ6QImaxu4Il29e8imcpRIAsmoQrF36UPBCBlUPtlaTuaTB2RFyzsUHp2lwqM8NmRlSbNtdgcvyjf2EAPfORN6Ncf7rWDs6fi9coK76c_B8czppW8PahS0XC9b7xa-7WBD7-Tg2uQ1Blcnn7lbkJ9rT2TVfsEIBXt8z8L2n8xPWQVqxhVBG5cwCB5Abz2Ya6KbsmG1SDbaQvMlX2Flz5KB8AqXYahvtmxNOwvI2fShLTXTJfHbwrRFR2nOPesCbI0R5dqV2xKM5_VAOwZwPpmeSaMWuxj3KDsgs5TJsd_xpvTFRyFurvO_LEUVteJ_BjKxjtTGiLd4CkaueqS2Y5pQ2QEqPWSOP3omvxiU1STPoQ6p9gF0pALfoMCS8kKqkMJXqVovOToehhUHPrdievDGPfYrFjOOtR3qVIf2uYwqOQR0axr7L3Y3WjX2kci4TPf2BBL6ERcEUwrBqrM5EEF19LiMt33l8VfI_Pp8RLi_PsQMDs-ac1V_F1PibcAnGyyr58ZXEP9ZgkMEQc2WdwZ-uWd8fO_mWCsoCP4AJq3idnhYwflTYQpz25KdfW2jf2GfrUzczgeYqq32VAy-IsRkXo_WX1X1WUl3yn9n9il3VD__EYz1MktizNK8ODYXFMQxdYrZUbfA8eIgl61OzattEBGXSafOAnj', 'facilitated_booking_available': True, 'pnr_count': 1, 'has_airport_change': False, 'technical_stops': 0, 'throw_away_ticketing': False, 'hidden_city_ticketing': False, 'virtual_interlining': False}, {'id': '25c300424d854d8a2dad37f0_0|25c300424d854d8a2dad37f0_1', 'flyFrom': 'CDG', 'flyTo': 'BER', 'cityFrom': 'Paris', 'cityCodeFrom': 'PAR', 'cityTo': 'Berlin', 'cityCodeTo': 'BER', 'countryFrom': {'code': 'FR', 'name': 'France'}, 'countryTo': {'code': 'DE', 'name': 'Germany'}, 'local_departure': '2024-05-02T07:00:00.000Z', 'utc_departure': '2024-05-02T05:00:00.000Z', 'local_arrival': '2024-05-02T08:40:00.000Z', 'utc_arrival': '2024-05-02T06:40:00.000Z', 'nightsInDest': 5, 'quality': 194.99987, 'distance': 857.09, 'duration': {'departure': 6000, 'return': 6600, 'total': 12600}, 'price': 143, 'conversion': {'EUR': 143}, 'fare': {'adults': 143, 'children': 143, 'infants': 143}, 'bags_price': {'1': 52.5}, 'baglimit': {'hand_height': 35, 'hand_length': 55, 'hand_weight': 8, 'hand_width': 20, 'hold_dimensions_sum': 158, 'hold_height': 52, 'hold_length': 78, 'hold_weight': 15, 'hold_width': 28}, 'availability': {'seats': None}, 'airlines': ['AF'], 'route': [{'id': '25c300424d854d8a2dad37f0_0', 'combination_id': '25c300424d854d8a2dad37f0', 'flyFrom': 'CDG', 'flyTo': 'BER', 'cityFrom': 'Paris', 'cityCodeFrom': 'PAR', 'cityTo': 'Berlin', 'cityCodeTo': 'BER', 'local_departure': '2024-05-02T07:00:00.000Z', 'utc_departure': '2024-05-02T05:00:00.000Z', 'local_arrival': '2024-05-02T08:40:00.000Z', 'utc_arrival': '2024-05-02T06:40:00.000Z', 'airline': 'AF', 'flight_no': 1434, 'operating_carrier': '8R', 'operating_flight_no': '', 'fare_basis': 'XYS02NLA', 'fare_category': 'M', 'fare_classes': 'X', 'return': 0, 'bags_recheck_required': False, 'vi_connection': False, 'guarantee': False, 'equipment': None, 'vehicle_type': 'aircraft'}, {'id': '25c300424d854d8a2dad37f0_1', 'combination_id': '25c300424d854d8a2dad37f0', 'flyFrom': 'BER', 'flyTo': 'CDG', 'cityFrom': 'Berlin', 'cityCodeFrom': 'BER', 'cityTo': 'Paris', 'cityCodeTo': 'PAR', 'local_departure': '2024-05-07T06:15:00.000Z', 'utc_departure': '2024-05-07T04:15:00.000Z', 'local_arrival': '2024-05-07T08:05:00.000Z', 'utc_arrival': '2024-05-07T06:05:00.000Z', 'airline': 'AF', 'flight_no': 1135, 'operating_carrier': 'AF', 'operating_flight_no': '1135', 'fare_basis': 'GYS02NLA', 'fare_category': 'M', 'fare_classes': 'G', 'return': 1, 'bags_recheck_required': False, 'vi_connection': False, 'guarantee': False, 'equipment': None, 'vehicle_type': 'aircraft'}], 'booking_token': 'GXX_PelZ5i7f7Q0fDsoR_xGzEBlnS0jHoPCXzB1no7EV_Edx1Dpn1y9TwssfD2Cwa7i5CriLgqfj1EyMQDR0YU6CdqJ4gE7ua5sJIM1I60AfCFW19S2ASB0hZjCSXcecZosX6GUh5z8_CHbIMlBsXoOQ0hZsaOdwejMrRX0qeTUMxXqecrwy_b2LIANwbkPDZOam0374O3nv8KlI9xkTj7o2fzyFU0ahoJwhh3bc7v8JxrWI1iBbidsPt23ADcSZLlUVbKVjoRQlnRiWLEiPnEEr13hy05H8OkKbvLkpOrNCDydmU30BrZtUn-uGaa6mFDbJu_XdJaLt3HLom4Ihfuot_qaeYIuL_l2UTELJY2gYeM6_3NvI2elbXUFeLTveEmECbJzUnnDvSpMDzJKRTRS3PTeRkAUSp24bT3wwt6wOvnqNFqxoYEgE39JGiYGFOkXgrFycDA0JnqUFAwgkOfgjZpVJSKdyqyJAJm5-_FGB9BZOs6cSZLexsgZUtlMBVTqKck5rbgml2EOLJ7VqclwuLYmk0M1cgdbcILULLEin6eRKReCtXu-wgQWA-fqrH0f2X4oAPM1lwJYFdaKXVAITswFtkYknaSNdAMxTGb4B8_9I6-nOArCUbGR2fL0GkRH8EdgNrXiUUbxatNKOHgkUsLYCbaZkGIA3z3qrSQ7CodjcEotWKsXLkT54YP0tt', 'deep_link': 'https://www.kiwi.com/deep?affilid=branchedelacflightsearch&currency=EUR&flightsId=25c300424d854d8a2dad37f0_0%7C25c300424d854d8a2dad37f0_1&from=CDG&lang=en&passengers=1&to=BER&booking_token=GXX_PelZ5i7f7Q0fDsoR_xGzEBlnS0jHoPCXzB1no7EV_Edx1Dpn1y9TwssfD2Cwa7i5CriLgqfj1EyMQDR0YU6CdqJ4gE7ua5sJIM1I60AfCFW19S2ASB0hZjCSXcecZosX6GUh5z8_CHbIMlBsXoOQ0hZsaOdwejMrRX0qeTUMxXqecrwy_b2LIANwbkPDZOam0374O3nv8KlI9xkTj7o2fzyFU0ahoJwhh3bc7v8JxrWI1iBbidsPt23ADcSZLlUVbKVjoRQlnRiWLEiPnEEr13hy05H8OkKbvLkpOrNCDydmU30BrZtUn-uGaa6mFDbJu_XdJaLt3HLom4Ihfuot_qaeYIuL_l2UTELJY2gYeM6_3NvI2elbXUFeLTveEmECbJzUnnDvSpMDzJKRTRS3PTeRkAUSp24bT3wwt6wOvnqNFqxoYEgE39JGiYGFOkXgrFycDA0JnqUFAwgkOfgjZpVJSKdyqyJAJm5-_FGB9BZOs6cSZLexsgZUtlMBVTqKck5rbgml2EOLJ7VqclwuLYmk0M1cgdbcILULLEin6eRKReCtXu-wgQWA-fqrH0f2X4oAPM1lwJYFdaKXVAITswFtkYknaSNdAMxTGb4B8_9I6-nOArCUbGR2fL0GkRH8EdgNrXiUUbxatNKOHgkUsLYCbaZkGIA3z3qrSQ7CodjcEotWKsXLkT54YP0tt', 'facilitated_booking_available': True, 'pnr_count': 1, 'has_airport_change': False, 'technical_stops': 0, 'throw_away_ticketing': False, 'hidden_city_ticketing': False, 'virtual_interlining': False}], '_results': 3}

In [124]:
data

for d in data:
    print(d["cityTo"])

Milan
London
London
Milan
Dublin
Dublin
Prague
Seville
London
Madrid
Naples
Palma, Majorca
Berlin
Milan
Tangier
Dublin
Prague
Barcelona
Tunis
Istanbul
Venice
Venice
Seville
Warsaw
Seville
Marrakesh
Agadir
Heraklion
Cairo
Cairo
New York
Los Angeles
Los Angeles
Los Angeles
Los Angeles
San Francisco
Los Angeles
Larnaca
Ibiza
Ibiza
Dubai
Palermo
Palermo
Larnaca